@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.pageTitle</title>
    <meta charset="utf-8">
    <meta name="viewport" contant="width = device-width , initial-scale = 1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <style>
        .navbar {
            background-color: rgb(77, 75, 75);
            height:50px
        }

        .nav-link {
            color: white;
        }

        .nav-link:hover {
            opacity: 0.9;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="~/" class="nav-link" aria-current="page">
                    <img src="~/logo.jpg" width="30" height="30">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="margin-left: 100px;margin-right: 20px;" asp-controller = "Home" asp-action ="Index" id="list">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller ="home" asp-action="Create" id="create">Create</a>
            </li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
